.App {
margin-top: 10px;
}

label {
padding: 10px;
text-align: center;
color: gray;
}

input {
height: 15px;
margin-bottom: 20px;
border-radius: 5px;
border: rgb(35, 34, 34);
}

form {
  background-color: lightgray;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
  margin-bottom: 10px;
}

h4,p {
  text-align: center;
}